/*csslint universal-selector: false, box-sizing: false, box-model: false*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: #111111;
    color: #DDDDDD;
    font-size: 62.5%;
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    width: 90%;
    max-width: 1000px;
    background: #CCCCCC;
    color: #666666;
    margin: 0 auto;
    text-align: left;
    padding: 1em;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    padding: 1em;
    background: #AAAAAA;
    color: #111111;
    text-align: left;
    margin: 0 0 1em;
}

button {
    padding: .5rem;
    font-size: .8em;
    margin: 0 0 0 .5rem;
}

.root ul,
.root li {
    border-radius: 4px 0 0 4px;
    padding: 0;
    list-style: none;
}

.root ul {
    padding: 3px 0 0 3px;
    background: #999999;
    margin: 0;
}

.root li {
    background: #dddddd;
    border: #666666 solid;
    border-width: 1px;
    border-right-width: 0;
    font-size: 1.2rem;
    line-height: 3rem;
    margin: 0;
    margin-bottom: 3px;
    padding: 0 0 0 .6em;
}

.root li ul {
    display: none;
}

.root .children-visible > ul {
    display: block;
}

.root .open {
    margin-right: 3px;
    visibility: hidden;
}

.root .open:before {
    content: "+";
}

.root .children-visible > .open:before {
    content: "-";
}

.root .has-children {
    visibility: visible;
}

.gripper {
    background: url('img/burger.png') center center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    height: 1.9rem;
    vertical-align: middle;
    width: 2rem;
}

.updates {
    margin: 10px auto 0;
    min-width: 300px;
    width: 60%;
}

.updates li {
    list-style-type: none;
    font-size: 1.1em;
}

.updates .time {
    font-size: 0.8em;
    color: #999999;
    vertical-align: middle;
}

.updates .time:before {
    content: '- ';
}

.info li {
    background: #ccccff;
    padding: 1em;
}

.error li {
    background: #ffcccc;
    padding: 1em;
}

