/*csslint universal-selector: false, box-sizing: false, box-model: false*/
* {
  box-sizing: border-box;
}
html {
  background: #ffffff;
  color: #666666;
  font-size: 62.5%;
  font-family: Arial, sans-serif;
  text-align: center;
}
body {
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1em;
  text-align: left;
  width: 90%;
}
h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 1em;
}
button {
  border-radius: 0;
  margin: 0 0 0 .5rem;
  padding: .5rem;
}
ul,
li {
  border: 1px #cccccc solid;
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  line-height: 3rem;
  padding: 0 0 0 .6em;
}
.item {
  position: relative;
}
.item > input,
.item > button {
  position: relative;
}
.item > input {
  border-width: 0;
  width: calc(100% - 5em);
}
.item .open {
  background: transparent;
  border: 0;
  display: block;
  height: 32px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.item .delete {
  font-size: 0;
  position: absolute;
  right: 1em;
  top: 0;
}
.item .delete:before {
  content: 'x';
  font-size: 1.2rem;
}
.item .children,
.item .url,
.item .add {
  display: none;
}
.children-visible > .children,
.children-visible > .url,
.children-visible > .add {
  display: block;
}
.children-visible > input {
  border-width: 1px;
}
.gripper {
  background: url('img/burger.png') center center no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 1.9rem;
  position: relative;
  vertical-align: middle;
  width: 2rem;
  z-index: 1;
}
.updates {
  margin: .25em;
  max-height: 6em;
  min-width: 300px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.updates li {
  background: #ccccff;
  border: none;
  list-style-type: none;
  padding: .1em;
}
.updates .error {
  background: #ffcccc;
}
.updates .time {
  font-size: 1rem;
  color: #808080;
  vertical-align: middle;
}
.updates .time:before {
  content: '- ';
}
.select-menu {
  clear: both;
  float: left;
  width: 25%;
}
.select-menu input {
  display: none;
}
.editor {
  float: left;
  width: 70%;
}
.services input {
  display: none;
}
.services > div {
  display: inline-block;
}
button {
  display: none;
}
