<!DOCTYPE html>
<html lang="en" ng-app="menuEditor">
<head>
    <meta charset="UTF-8">
    <title>Menu Editor</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="menuEditorCtrl">
    <h1>Menu Editor</h1>
    <button ng-click="add()">Add Root</button>

    <ul id="root" class="root">
        <li class="item {{item.showChildren | showChildren}}" ng-repeat="item in roots" ng-include="'xitem.html'" pw-sortable="roots" direction="vertical" reference="item">
        </li>
    </ul>

    <script type="text/ng-template" id="xitem.html">
        <span class="gripper" pw-handle></span>
        <button class="open {{item.children.length > 0 | hasChildren}}" ng-click="$parent.showChildren(item)"></button>
        <input class="text" ng-model="item.data.text">
        <input class="url" ng-model="item.data.url">
        <button class="add" ng-click="$parent.add(item)">Add</button>
        <button class="delete" ng-click="$parent.remove(item)">Delete</button>
        <ul class="children" ng-show="item.children.length > 0">
            <li class="item {{item.showChildren | showChildren}}" ng-repeat="item in item.children" ng-include="'xitem.html'" pw-sortable="item.parent.children" direction="vertical" reference="item">
            </li>
        </ul>
    </script>

    <script src="libs/angular.js"></script>
    <script src="libs/TreeNode.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>
