        <li class="item {{item.showChildren | showChildren}}" ng-include="'xitem.html'" pw-sortable="item">
            <span class="gripper" pw-handle="vertical"></span>
            <button class="open {{item.children.length > 0 | hasChildren}}" ng-click="$parent.showChildren(item)"></button>
            <input class="text" ng-model="item.data.text">
            <input class="url" ng-model="item.data.url">
            <button class="add" ng-click="$parent.add(item)">Add</button>
            <button class="delete" ng-click="$parent.remove(item)">Delete</button>
            <ul class="children" ng-show="item.children.length > 0">
                <pw-item ng-repeat="item in item.children">
                </pw-item>
            </ul>
        </li>

